body {
    background-color: #F8F8F8;
}

.savedAddressContainer {
    margin: 0px auto;
    width: 343px;
    height: 278px;
    top: 68px;
    left: 25px;

}

.img1{
    fill: #444D61;
  
  }

h4 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.savedAddress {
    display: flex;
    justify-content: space-between;
}

.savedDisplay {
    padding: 20px;
}

a {
    color: #e31837;
    text-decoration: none;
    font-family: raleway;
    font-weight: 700;
    font-size: 14px;
}

.notAdded {
    font-weight: 500;
    font-family: raleway;
    font-size: 16px;
    color: #798397;
    text-align: center;
}

.added {
    background-color: #ffffff;
    padding: 10px;
}

.address1 {
    font-weight: 400;
    font-size: 14px;
    font-family: baleway;
    color: #444D61;
}

.whiteHouse {
    color: #444D61;
    font-weight: 700;
    font-family: baleway;
}

#whiteHouse {
    display: flex;
   justify-content: space-between;
}


