.savedItemContainer {
    margin: 0px auto;
    width: 343px;
    height: 278px;
    top: 68px;
    left: 25px;
}

.savedHeading {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: #2B3241;
}

.img1{
    fill: #444D61;
  
}

