body{
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    width: 375px;
    padding: 25px;
    max-width: 100vw;
  }

  .container{
    margin-left: 40px;
  }

  .img7{
    fill: #444D61;
}

.sel{
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: left;
    color: #2B3241;
}

.master{
    background-color: #0E0F10;
    width: 344px;
    height: 80px;
    border-radius: 20px;
    
}


.mester{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.vista{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-items: center;
}


.master2{
margin-left: 20px;
}

.cardno{
    margin-bottom: 10px;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.credit{
    font-family: Arial;
    font-size: 10px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: left;
    color: #FFFFFF;

}

.creditP{
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01rem;
    text-align: left;
    color: #FFFDFD99;
    margin-top: -30px;

}


.img8{
    color:#FFFFFF;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

.visa{
    background-color: #B0CFDD;
    width: 344px;
    height: 80px;
    border-radius: 20px;
    width: 344px;
}


.check{
    width: 345px;
    height: 154px;
    top: 345px;
    left: 24px;

}

input[type="radio"]{
    accent-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 20px;
    width: 20px;
    height: 20px;
  }

h3.chec{
font-family: Arial;
font-size: 12px;
font-weight: 400;
line-height: 13.8px;
text-align: left;
color: #2B3241;
}

.tick{
    display: flex;
    justify-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

input[type="checkbox"]{
    width: 8px;
    height: 8px;
    accent-color:red;

}

.saf2{
    margin-top: -1px;
    margin-left: 5px ;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.8px;
    text-align: left;
    color: #5E677C;

}

.btn9{
    width: 343px;
    height: 56px;
    padding: 16px;
    border-radius: 8px;
    background-color: #E31836;
    color: #FFFFFF;
    border: none;
    }

    .summary-item{
        display: flex;
       justify-content: space-between;
       color:#798397;
       font-size: 12px;
    }
    
    #orderSummary{
    width: 339px;
    height:179px;
    margin-top: px;
    }

    .estimated{
        color: black;
    }