

*{
    margin: 0px;
    padding: 0px;
   outline: none;
    
}
body{
    width: 100%;
    background-color: #ffffff;

}
.logo img{
    width: 400px;
    height: 120px;
    padding-top: 30px;
}
.sidebar {
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    padding: 2px;
   background-image: url(./images/Pizza.png);
   color:white;
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
}
.sidebar-menu a{
    padding: 5% 5%;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}
.sidebar-menu a:hover{
background-color: rgb(10, 54, 88);
border-radius: 60px;
}
.sidebar-logout a{
    padding: 5% 5%;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.sidebar-logout a:hover{
    background-color: rgb(10, 54, 88);
   border-radius: 50px;
}
.topbar{
    display: flex;
    justify-content: space-between;
    background-color: #d3edee;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 71%;
   z-index: 1000;
   border-top-right-radius: 15px;
   border-top-left-radius: 50px;
}
.topbar .navigation{
    display: flex;
    align-items: center;
}
.topbar .navigation ul{
    list-style: none;
}
.topbar .navigation ul li{
    display: inline-block;
    margin: 10px 8px;
    width: 50px;
}
.topbar .navigation ul li a{
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.main-highlight {
    margin: 3% 0;
    padding: 2%;
    background-color: #ffffff;
    align-items: center;
}
.main-header {
    font-size: 20px;
   padding-left: 350px;
    top: 100px;
    left: 360px;
}
.deal-pizza img{
    width: 1100px;
    height: 400px;
    top: 122px;
    left: 25px;
    gap: 12px;
    opacity: 5px;
}
.categories {
    background-color: #ffffff; 
    padding: 10px;
  margin: auto;
 
}

.categories h2 {
    margin-bottom: 200px; /* Spacing below the heading */
    margin: auto;

}

.categories ul {
    font-size: 22px;
    position: sticky;
    top: 350px;
    list-style: none; 
    margin-left: 400px;
    display: flex; /* Display list items in a row */
}

.categories ul li {
    margin-right: 60px; /* Spacing between list items */
  
}

.categories ul li{
      border: 1px solid transparent; /* Add transparent border initially */
     }
     .categories ul li a{
        text-decoration: none;
        color: black;
     }

.categories ul li:hover {
       border-color: #ff0000;

}


.main-title-1 {
    font-size: 30px;
   margin: auto;
   padding-left: 350px;
   
}

.tr{
    margin-top: 200px;
}
.crd{
    display:flex;
 padding-left: 150px;
    margin-left: 190px;
    margin-top: 2px;
    position: static;
 
}
.crd .card{
    width: 300px;
    border-radius: 10px;
    margin-inline: 19px;
    padding: 8px;
    margin-right: 200px;

}
.card img{
    width: 500px;
   margin-right: 100px;
}
.card h2{
    margin-top: 11px;

}
.card p{
    margin-top: 11px;
}
.card button{
    padding: 5% 5%;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 21px;
    background-color: rgb(255, 8, 8);
    color: rgb(16, 68, 255);
    border-radius: 10px;
   
    
}
.card button:hover{
    background-color: orange;
    cursor: pointer;
}

.popup-container {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popup-image {
    max-width: 100%;
    max-height: 80vh;
}

  