
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 img{
    width: 400px;
    height: 120px;
    padding-top: 30px;
  }
  
  h4 {
    text-align: left;
    padding-left: 20px;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #ff0707;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 150px;
    font-size: 15px;
  
    }
  .para-2 a {
    color: #49c1a2;
    padding-bottom: 00px;
    
  
  } 