
.form{
  width: 300px;
  margin-left: 20px;
}

  form input {
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #ff0707;
    color: white;
    font-size: 18px;}
    

    .card img{
      width: 500px;
     padding-left: 500px;
  }
h6{
  padding-left: 600px;
  font-size: 20px;
}