
  .signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 img{
    width: 400px;
    height: 120px;
    padding-top: 30px;
  }
  
  h4 {
    text-align: left;
    padding-left: 20px;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #ff0707;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: left;
    padding-top: 20px;
    font-size: 18px;
    padding-left: 20px;
    
  }
  .para-2 {
    text-align: center;
    color: rgb(16, 212, 183);
    font-size: 18px;
    margin-top: 10px;
  }
  .para-2 a {
    color: #ff0000;
    padding-top: 2px;
  } 